html{
    scroll-behavior: smooth;
    background-image: url(../assets/img_background.jpg);
}

*{
    overflow: visible;
}
body{
    font-family: sans-serif;
}

h1 {
    color: white;
    font-style: oblique;
}

p {
    color: white;
    font-size: 25px;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

h3 {
    color: white;
    font-size: 30px;
}

a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
}

ul {
    color: white;
}
.nav{
    color: skyblue;
    position: fixed;
    right: 50px;
    z-index: 1;
    
}
.profile{
    position:relative;
    left: 800px;
    height: 500px;
}
.title{
   position: relative;  
   top: 200px;
   left: 200px;
   font-size: 75px;
   
}
.arrow{
    position: relative;
    bottom: 300px;
    left: 250px;
}
.Web{
    position: relative;
    bottom: 415px;
    left: 400px;
    font-size: 40px;
}
nav :hover{
    color: red;
}
/* nav :active{
    color: red;
    text-decoration: underline;
} */
.bullet{
    position: relative;
    left: 130px;
    font-size: 30px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 1em;
    background-color: black;
    l
}
.skills{
    position: relative;
    top: 190px;
}
.footer{
    position: relative;
    top: 350px;
    margin-top: 250px;
    margin-bottom: 300px;
    position: relative;
    top: 250px;
}
.footer-font{
    position: relative;
    bottom: 90px;
    right: 170px;
    font-size: 30px;
}
.footer-logo{
    position: relative;
    margin-left: 180px;
    height: 70px;
}
.in{
    position: relative;
    margin-left: 190px;
    height: 60px;
    bottom: 50px;
}
.in-font{
    position: relative;
    bottom: 125px;
    right: 12.7em;
}
.skillbox{
    border: 1.5px solid #5f5c5c;
    background-color: #5f5c5c59;
    width: 200px;
    margin: 10px;
    padding: 15px;
    border-radius: 9px;
    text-align: center;
}
.container{
    display: flex;
    position: relative;
    /* top: 230px; */
    left: 250px;
    gap: 3em;
    
}
.skill{
    position: relative;
    margin-top:200px;
    margin-bottom: 300px;
}
.bullet-items{
    list-style: none;
}