@media screen and  (max-width:600px)  {

 
     .about{
         display: flex;
         flex-direction: column;
         justify-content: center;
         /* margin-left: 120px; */
     }
     .profile{
        height: 400px;
     }
     .parent{
         flex-direction: column;
         align-items: center;
     }
     .parent .profile{
         order: 1;
     }
     .parent .child{
         order: 2;
     }
     .footer-font{
         display: flex;
      } 
     .skill{
         display: flex;
         flex-direction: column;
         justify-content: center;
     }
     /* .contact-container{
         margin-left: 120px;
     }
     .contact-child-2{
         margin-right: 100px;
     } */
     
 }