body{
    scroll-behavior: smooth;
    background-image: url(./assets/images/img_background.jpg)
}


li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 5rem;
}
.nav-link {
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
}
.nav-link:hover {
    color: #cd0000;
}
.nav-logo {
    font-size: 2.1rem;
    font-weight: 800;
    color: white;
}

/* .profile{
    display: flex;
    justify-content: end;
    padding-right: 30px;
} */


h1{
    color: white;
    font-family: sans-serif;
    font-size: 80px;
}
h3 {
    color: white;
    font-size: 30px;
}
.web{
    display: flex;
    align-items: center;
}

.navigation-container{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.parent{
    display: flex;
    justify-content: space-around;
    /* margin: 50px; */
    padding-top: 10%;
}


.child{
    margin-top: 160px;
    
}
nav :hover{
    color: red;
}
h2 {
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.text-center p{
    font-size: 25px;
    color: white;
}
.skillbox{
    border: 1.5px solid #5f5c5c;
    background-color: #5f5c5c59;
    width: 200px;
    margin: 10px;
    padding: 15px;
    border-radius: 9px;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.qual p{
    color: white;
    font-size: 25px;
    line-height: 40px;
}
.item-1{
    display: flex;
    justify-content: start;
    margin-top: 30px;
    /* margin-left: 100px; */
}
.item-2{
    display: flex;
    justify-content: end;
    /* margin-right: 100px; */
}
.footer a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.contact-child-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}
.contact-child-2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.about{
    margin-top: 20%;
    margin-bottom: 400px;
    text-align: center;
}
.skill{
    margin-top: 100px;
    margin-bottom: 300px;
    justify-content: center;
    /* display: flex; */
}
.qual{
    margin-top: 100px;
    margin-bottom: 300px;
}
.footer{
    margin-bottom: 200px;
    padding: 100px;
}
.about-child{
    /* display: flex;
    flex-wrap: wrap; */
    padding: 20px;
    color: white;
    font-size: 25px;
}
.contact-container{
    font-size: 20px;
}
#Home{
    scroll-margin-top: 170px;
}
#about{
    scroll-margin-top: 170px;
}
#skills{
    scroll-margin-top: 170px;
}
#Qualifications{
    scroll-margin-top: 170px;
}
#contact{
    scroll-margin-top: 170px;
}
.footer-child{
    margin-top: 60px;
}